/* --------------------------------------------------- Header , carousel , cover styles ---------------------------- */
.header{
    height: 700px;
    font-family: 'Noto serif Georgia';
}
.carousel-height{
    height: 100%;
}
.carousel{
    position: relative;   
}
.cover{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}


/* ---------------------------------------------------Navigation , logo and nav-bar styles --------------------------- */
.logo{
    position: absolute;
    top: 3%;
    left: 15%;
}

.navigation{
    position: absolute;
    top: 7%;
    right: 0;
}
.navigation ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.a-href{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s linear 0.1s;
}
.a-href:hover{
    color: rgb(6, 221, 6);
    text-shadow: rgb(6, 221, 6) 0px 15px 6px ;
}
/* ეს არის ჰამბურგერ მენიუ  */
.hamburger-div{
    position: absolute;
    top: 7%;
    display: flex;
    justify-content: flex-end; 
}
/* ჰამბურგერ მენიუს ღილაკი , რომელიც ჩნდება დაბალ რეზოლუციებზე */
.menu-button{
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    
}
/* ეს მენიუს კონტენტი რომელიც ჰამბურგერ მენიუს დაჭერის შემდეგ ჩნდება */
.hidden-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    width: 70%;  
    z-index: 100;
}
.hidden-menu-a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.hidden-menu-li{
    margin-bottom: 20px;
    list-style: none;
}
.hiden-menu-ul{
    margin-top: 20px;
}
.hidden-menu-h2{
    padding: 2rem;
    font-size: 30px;
    font-weight: 700;
    color: black;
    font-family: sans-serif;
    display: flex;
}
/* ეს არის X რომელიც კეცავს მენიუს კონტენტს */
.hidden-menu-close-button{
    display: flex;
    align-items: center;
    padding: 10px;
}
.hidden-title-close{
    display: flex;
    justify-content: space-between;
}

/* =======Return Home Button======= */
.scrollDown{
    /* display: none; */
    position: -webkit-sticky;
    position: sticky;
    top: 90%;
    right: 50%;
    
    
    
    
}

/* ---------------------------------------------------Header box , h3,h1,p styles --------------------------- */
.header-box{
    position: absolute;
    top: 30%;
    left: 10%;
}
.header-h3{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}
.header-h1{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    margin-top: 30px;
}
.header-p{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    padding-left: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ----------------------------------------------------------Button style------------------------------------------ */
.button{
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: transparent;
    border:2px solid white;
    border-radius :3px;
    color: #FFE600;
    font-family :'roboto';
    font-size :15px;
    font-weight:500;
    overflow :hidden;
    padding :0;
    position :relative;
    transition : all 0.2s linear 0.1s ;
    z-index :0;
}
.button{
    text-decoration: none;
    color: white;
} 
.button:hover{
    color: black;
    font-weight: 600;
} 
.button::after{
    background-color: #FFE600;
    border-radius: 3px;
    content: '';
    display :block;
    height :100%;
    width: 100%;
    position :absolute;
    left :0;
    top: 0;
    transform :translate(-100%, 0) rotate(10deg);
    transform-origin :top left;
    transition :all 0.2s linear 0.1s;
    z-index: -1;
}  
.button:hover::after{
     transform :translate(0, 0);
}
.button:hover{
    border: 2px solid transparent;
    transform :scale(1.05);
}


/* -----------------------------------------------------------Section About us---------------------------- */
.about-us{
    background-color: rgba(196, 196, 196, 0.35);   
}
.about-us-div{
   padding-top: 78px;
   padding-bottom: 78px;
}
.about-us-p{
    font-weight: 500;
    font-size: 20px;
    Line-height: 27px;
    Vertical-align: Top; 
}
.about-us-img{
    display: flex;
    justify-content: center;
}

.about-title{
    margin-bottom: 80px;
}
.title-h2{
    font-size: 30px;
    letter-spacing: 1px;
}
.title-rectangle{
    width: 72px;
    height: 5px;
    border-radius: 1px;
    background-color: rgba(27, 134, 0, 0.74);
    margin-left: 20px;
}
/* -----------------------------------------------------------Section Projects---------------------------- */
.projects{
    padding-top: 120px;
    padding-bottom:120px;
}
.projects-title{
    margin-bottom: 80px;
}
.projects-p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.project-text{
    display: flex;
    flex-wrap: wrap;
}
.project-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
/* -----------------------------------------------------------Section Technology---------------------------- */
.technologys{
    padding-top: 120px;
    padding-bottom: 120px;
}
.tech-title{
    margin-bottom: 80px;
}
.pictures-box{
    display: flex;
    justify-content: space-around;
}
.picture-2{
    display: flex;
    justify-content: space-between;
}
/* -----------------------------------------------------------Section Services---------------------------- */
.services{
    background-color: rgba(196, 196, 196, 0.35) ;
}
.service-title{
    margin-bottom: 80px;
}
.services-div{
    padding-top: 120px;
    padding-bottom:120px;
}
.services-rectangle{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 230, 0, 0.69);
    margin-right: 10px;
}
.services-h3{
    font-size: 17px;
    font-weight: 700;
}
.services-li{
    font-size: 14px;
    font-weight: 400;
    list-style-type: disc;
}
/* -----------------------------------------------------------Section Contact---------------------------- */
.contact-div{
    padding-top: 120px;
    padding-bottom:120px;
}
.contact-title{
    margin-bottom: 80px;
}
.square-phone{
    width: 100px;
    height: 100px;
    border-radius: 300px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px;
    background-color: rgba(27, 134, 0, 0.36);
}

.icon-a{
    text-decoration: none;
    color: transparent;
}

/* ეს კონტეინერი საჭიროა წინა და უკანა მხარის დასაყენებლად */
.phone-div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*ჰორიზონტალური გადატრიალება, როდესაც მაუსის გადაადგილებისას ატრიალებთ ფლიპ-ბოქსის კონტეინერზე */
.phone-div:hover {
  transform: rotateY(180deg);
}

/* წინა და უკანა მხარის პოზიციონირება */
.phone-div-front, .phone-div-back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* წინა მხარის სტილი (რეზერვი, თუ სურათი აკლია) */
.phone-div-front {
    background-color: transparent;
    color: black;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* უკანა მხარის სტილიზაცია */
.phone-div-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* უკანა მხარის ტექსტი და მისი ჰოვერი  */

.phone-div-a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.583);

    font-weight: 600;
}
.phone-div-a:hover{
    color: black;
}

/* ---------------------------------------Mail Card --------------- */
.square-mail{
    width: 100px;
    height: 100px;
    border-radius: 300px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px;
    background-color: rgba(27, 134, 0, 0.36);
}
/* ეს კონტეინერი საჭიროა წინა და უკანა მხარის დასაყენებლად */
.mail-div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*ჰორიზონტალური გადატრიალება, როდესაც მაუსის გადაადგილებისას ატრიალებთ ფლიპ-ბოქსის კონტეინერზე */
.mail-div:hover {
  transform: rotateY(180deg);
}

/* წინა და უკანა მხარის პოზიციონირება */
.mail-div-front, .mail-div-back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* წინა მხარის სტილი  */
.mail-div-front {
    background-color: transparent;
    color: black;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* უკანა მხარის სტილიზაცია */
.mail-div-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* უკანა მხარის ტექსტი და მისი ჰოვერი  */
.mail-div-a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.583);
    font-weight: 600;
}
.mail-div-a:hover{
    color: black;
}

/* ---------------------------------------Address Card --------------- */
.square-adress{
    width: 100px;
    height: 100px;
    border-radius: 300px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 20px;
    background-color: rgba(27, 134, 0, 0.36);
}
/* ეს კონტეინერი საჭიროა წინა და უკანა მხარის დასაყენებლად */
.adress-div {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*ჰორიზონტალური გადატრიალება, როდესაც მაუსის გადაადგილებისას ატრიალებთ ფლიპ-ბოქსის კონტეინერზე */
.adress-div:hover {
  transform: rotateY(180deg);
}

/* წინა და უკანა მხარის პოზიციონირება */
.adress-div-front, .adress-div-back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* წინა მხარის სტილი  */
.adress-div-front {
    background-color: transparent;
    color: black;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* უკანა მხარის სტილიზაცია */
.adress-div-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* უკანა მხარის ტექსტი და მისი ჰოვერი  */
.adress-div-a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.583);
    font-weight: 600;
}
.adress-div-a:hover{
    color: black;
}

/* Map */
.map{
    margin-top: 50px;
}
/* -----------------------------------------------------------Footer---------------------------- */
.footer{
    background-color: #202020;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom:50px;
}

.img-logo{
    display: flex;
    justify-content: center;
    
}
.footer-ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
}
.footer-a-href{
    text-decoration: none;
    Font-size: 17px;
    Line-height: 32px;
    color: white;
    margin-left: 10px;
    transition: all 0.1s linear 0.1s;
}
.footer-a-href:hover{
    color: rgb(6, 221, 6);
}
.footer-p{
    color: white;
    margin-top: 30px;
}






